[submodule "ut"]
	path = ut
	url = https://github.com/boost-ext/ut.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "vma"]
	path = vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "DearWidgets"]
	path = DearWidgets
	url = https://github.com/soufianekhiat/DearWidgets.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
